.main-wrapper{
  position: fixed;
  display: flex; 
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("./../../assets/images/others/img-30.jpg")
}
.login-section{
  width: 300px;
  height: 330px;   
  margin: 0 auto;
  padding: 25px;
  background: white; 
  border-radius: 6px;  
  
}
.login-wrapper{ 
  height: 100%;

}
.login-section-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-section-header h1{
  font-size: 20px;
}

.login-section-header_logo{
  height: 65px;
  width: 150px;
}
.login-section-header_title{
  padding-top: 10px;
  padding-right: 15px;
}
.form-label_login{
  font-size: 10px;  
}
.form-signIn{
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 12px;
}
.form-signIn label{
  margin-top: 8px;
  margin-left: 5px;
}
.form-signIn_forgotPass{
  margin-left: auto;
}
.form-signIn_submit{
  display: flex; 
  margin-top: 5px;
}
.form-signIn_submit button{
  margin-left: auto;  
  padding: 5px 15px;
  background-color: #33CCCC;
  border: #33CCCC; 
}
.input-error{
  font-size: 14px;
  color:red;
}
