<div class="main-wrapper">  
  <section class="login-section">
    <div class="login-wrapper">
      <div class="login-section-header">
        <div class="login-section-header_logo">
          <img 
            src="./../../assets/images/logo/logo.png" 
            alt="Logo"
          >
        </div>
        <div class="login-section-header_title">
          <h1>Login</h1>
        </div>
      </div>
      <div class="login-section_form">
        <form 
          action="#" 
          name="loginForm"           
          #mainForm="ngForm"
          (ngSubmit)="getData(mainForm)"
        >          
          <p class="form-label_login">
            Please enter your user name and password to login
          </p>                 
          <input 
            ngModel 
            name="email"
            type="text"            
            class="form-control" 
            placeholder="User name" 
            (focus)="resetError()"           
          >
          <input 
            ngModel
            name="password"
            type="text" 
            class="form-control" 
            placeholder="Password"
            (focus)="resetError()"
          >
          <div class="form-signIn">
            <input 
              type="checkbox" 
              id="keepMeSigned-input"
            >
            <label for="keepMeSigned-input">
              Keep me signed in
            </label>
            <div class="form-signIn_forgotPass"> 
              <a href="#">
                Forgot Password?
              </a>
          </div> 
          </div>
          
          <div class="form-signIn_submit">
            <div 
            *ngIf="incorrectInput" 
            class="input-error">
              Incorrect value
            </div>
            <div 
            *ngIf="connectError" 
            class="input-error">
              Connection problem
            </div>
            <button type="submit" class="btn btn-lg btn-primary">
                 Login
            </button>  
          </div>       
        </form>  
      </div>
    </div>
  </section>
</div>
